In [ ]:
# !pip install sqlalchemy-access
# !pip install psycopg2

In [2]:
import pandas as pd
# from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, MetaData, Table, select
import urllib
import requests
import json
from datetime import datetime as dt
from config import password

# Importing and creating local delay log

### Connect to Access DB for delay data

In [ ]:
# Connect to access db and pull transportation data
# engine = create_engine("access+pyodbc://@your_dsn")
connection_string = (
    r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
    r'DBQ=\\lmsasfile01\Analysis\ACCESS\DAYDEL\Delay97.mdb;'
    r'ExtendedAnsiSQL=1;'
)
connection_uri = f"access+pyodbc:///?odbc_connect={urllib.parse.quote_plus(connection_string)}"
acc_engine = create_engine(connection_uri, echo=False)
# Base = automap_base()
# Base.prepare(engine, reflect=True)
# # engine.table_names()
insp = inspect(acc_engine)
insp.get_table_names()

### Import table/query w/sqlalchemy or pandas

In [ ]:
# Query database for transportation data only
# Import using sqlalchemy
# session = Session(engine)

engine.table_names()
# Base.classes.keys()


test = Base.classes.Delay2000
# salaries = Base.classes.Salaries
# session.query(*).all()

In [ ]:
# Import using pandas
testTable = pd.read_sql('SELECT * FROM Delay2000',connection_uri)
# pd.read_sql_query('SELECT * FROM qryZF000300OpsDelays',connection_uri)
testTable.head(10)

### Clean and sort data for Ops and Trans delays

### Compare imported data to local CSV data

In [22]:
importData = "newsample2.csv" # input filename for either CSV or imported access data
localData = "sampleDB.csv" # input filename for local delayCSV DB
newFullData_df = pd.read_csv(importData).fillna(0)
localDB_df = pd.read_csv(localData).fillna(0)
topColumns = ['DATE','TIME','DEST','LOCATION','CAUSE','COD','DEL','SEC','LR','HR','OFF','CNC','RUN']
newData_df = newFullData_df[topColumns]
# localDB_df.head(2)
newData_df.head(2)

,DATE,TIME,DEST,LOCATION,CAUSE,COD,DEL,SEC,LR,HR,OFF,CNC,RUN
0,20-Sep-21,330,N-B/S-B,Balboa Park,Platform Hold (No Station Agent/BPD Opened),oz,0.0,2.0,10.0,12.0,0.0,0.0,0.0
1,20-Sep-21,1346,Daly City,Berryessa,T.O. Procedure (Late Boarding),ot,5.0,0.0,0.0,0.0,0.0,0.0,103.0

In [23]:
localDB_df.head(2)

,DATE,TIME,DEST,LOCATION,CAUSE,COD,DEL,SEC,LR,HR,OFF,CNC,RUN
0,2-Jul-21,5:42,Berryessa,Richmond,T.O. Procedure (Late Boarding),ot,8,0,0,0,0,0,213
1,4-Jul-21,7:22,Berryessa,Richmond,Station Not Open (T.O. Opened Station),os,0,1,10,0,0,0,291

In [24]:
# Compare import and local data for new changes
if len(localDB_df)>0:
    # Format new input data types
    newData_df['DEL'] = newData_df['DEL'].astype('int')
    newData_df['SEC'] = newData_df['SEC'].astype('int')
    newData_df['LR'] = newData_df['LR'].astype('int')
    newData_df['HR'] = newData_df['HR'].astype('int')
    newData_df['OFF'] = newData_df['OFF'].astype('int')
    newData_df['CNC'] = newData_df['CNC'].astype('int')
    newData_df['RUN'] = newData_df['RUN'].astype('int')
    
    # Format new input time column
    import_dtFormat =pd.to_datetime(newData_df['TIME'], format='%H%M')
    import_newTimes= import_dtFormat.apply(lambda x:x.strftime("%H:%M"))
    newData_df['TIME']= import_newTimes
    
    # Compare new input data to local DB data
    compare = newData_df.merge(localDB_df, on=["DATE","TIME","LOCATION"], how='outer', indicator=True)
    updateData = compare.loc[compare['_merge']=="left_only"]
    dirtyData = updateData.dropna(axis=1)
    dirtyData.columns = dirtyData.columns.str.strip('_x')
    
    # Drop merge column
    cleanData_df = dirtyData.drop(columns='merge')
else:
        # Format new input data types
    newData_df['DEL'] = newData_df['DEL'].astype('int')
    newData_df['SEC'] = newData_df['SEC'].astype('int')
    newData_df['LR'] = newData_df['LR'].astype('int')
    newData_df['HR'] = newData_df['HR'].astype('int')
    newData_df['OFF'] = newData_df['OFF'].astype('int')
    newData_df['CNC'] = newData_df['CNC'].astype('int')
    newData_df['RUN'] = newData_df['RUN'].astype('int')
    
    # Format new input time column
    import_dtFormat =pd.to_datetime(newData_df['TIME'], format='%H%M')
    import_newTimes= import_dtFormat.apply(lambda x:x.strftime("%H:%M"))
    newData_df['TIME']= import_newTimes
    
    cleanData_df = newData_df

<ipython-input-24-83de9751f90a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData_df['DEL'] = newData_df['DEL'].astype('int')
<ipython-input-24-83de9751f90a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData_df['SEC'] = newData_df['SEC'].astype('int')
<ipython-input-24-83de9751f90a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData_df['LR'] = newData_df['LR'].astype('int')
<ipython-input-24-83de9751f90a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData_df['HR'] = newData_df['HR'].astype('int')
<ipython-input-24-83de9751f90a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData_df['OFF'] = newData_df['OFF'].astype('int')
<ipython-input-24-83de9751f90a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData_df['CNC'] = newData_df['CNC'].astype('int')
<ipython-input-24-83de9751f90a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData_df['RUN'] = newData_df['RUN'].astype('int')
<ipython-input-24-83de9751f90a>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData_df['TIME']= import_newTimes

### Append new delay data to local CSV file

In [25]:
delayDatabase_path = "sampleDB.csv" # add path for local delayCSV DB to be appended
cleanData_df.to_csv(delayDatabase_path, mode='a', index=False,header=False)

# Upload local delay data to PG database

### Import local delay CSV data

In [26]:
# Import local CSV data
delay_file = "sampleDB.csv" # add filename for local delayCSV DB
delayData_df = pd.read_csv(delay_file).fillna(0)
exportData_df = delayData_df.copy()
len(exportData_df)

24

In [28]:
# Add columns
exportData_df['Late Trains'] = ""
exportData_df['Late Trains +OFF+CNC'] = ""
exportData_df['10+min Delay'] = ""
exportData_df['Qualifying Delay'] = ""
exportData_df['COD defined'] = ""
exportData_df.tail()

,DATE,TIME,DEST,LOCATION,CAUSE,COD,DEL,SEC,LR,HR,OFF,CNC,RUN,Late Trains,Late Trains +OFF+CNC,10+min Delay,Qualifying Delay,COD defined
19,20-Sep-21,03:30,N-B/S-B,Balboa Park,Platform Hold (No Station Agent/BPD Opened),oz,0.0,2.0,10.0,12.0,0.0,0.0,0.0,,,,,
20,20-Sep-21,13:46,Daly City,Berryessa,T.O. Procedure (Late Boarding),ot,5.0,0.0,0.0,0.0,0.0,0.0,103.0,,,,,
21,20-Sep-21,04:34,Daly City,Berryessa,Wayside Inspection,mz,0.0,1.0,5.0,0.0,0.0,0.0,105.0,,,,,
22,20-Sep-21,14:55,N-B/S-B,MacArthur,BPD Hold (Fight on Platform),mp,0.0,2.0,5.0,15.0,0.0,0.0,0.0,,,,,
23,20-Sep-21,22:15,Berryessa,Richmond,BPD Hold (Welfare Check),mp,18.0,0.0,0.0,0.0,0.0,0.0,207.0,,,,,

In [29]:
# Define columns
DEL = exportData_df['DEL']
SEC = exportData_df['SEC']
LR = exportData_df['LR']
HR = exportData_df['HR']
# OFF = exportData_df['OFF']
# CNC = exportData_df['CNC']
COD = exportData_df['COD']
# LT = exportData_df['Late Trains']
# LTOC = exportData_df['Late Trains +OFF+CNC']
tenPlus = exportData_df['10+min Delay']
QD = exportData_df['Qualifying Delay']
causeDef = exportData_df['COD defined']

# Calc Late trains column
LTdata = []

for x in range(len(exportData_df)):
    if DEL[x]==0:
        LTdata.append(SEC[x])
    elif DEL[x]>0:
        LTdata.append(1 + SEC[x])
    else:
        LTdata.append(0)
exportData_df['Late Trains'] = LTdata
        
    
# Calc LT+OFF+CNC column
OFF = exportData_df['OFF']
CNC = exportData_df['CNC']
LT = exportData_df['Late Trains']

LTOCdata = []

for x in range(len(exportData_df)):
    delaySum = int(float(LT[x])) + int(float(OFF[x])) + int(float(CNC[x]))
    LTOCdata.append(delaySum)
exportData_df['Late Trains +OFF+CNC'] = LTOCdata


# Calc 10+min Delay column
tenData = []

for x in range(len(exportData_df)):
    if (DEL[x]>= 10) or (LR[x]>= 10) or (HR[x]>= 10):
        tenData.append('YES')
    else:
        tenData.append('NO')
exportData_df['10+min Delay'] = tenData
        
    
# Calc Qualifying Delay column
LTOC = exportData_df['Late Trains +OFF+CNC']

qdData = []

for x in range(len(exportData_df)):
    if (int(LTOC[x])>=5) or (tenPlus[x]=="YES"):
        qdData.append('YES')
    else:
        qdData.append('NO')
exportData_df['Qualifying Delay'] = qdData


# Calc COD defined column
codData = []

shortCauses = {"ot":"TO Procedure",
               "oc":"Controller Procedure",
               "os":"Station Opened Late",
               "oy":"Yard",
               "oz":"Misc",
               "od":"Late Dispatch",
               "ol":"Traffic interference"
              }
causes = list(shortCauses.keys())

for x in range(len(exportData_df)):
    if COD[x] in causes:
        codData.append(shortCauses[COD[x]])
    else:
        codData.append("N/A")
exportData_df['COD defined'] = codData

In [30]:
exportData_df.tail()

,DATE,TIME,DEST,LOCATION,CAUSE,COD,DEL,SEC,LR,HR,OFF,CNC,RUN,Late Trains,Late Trains +OFF+CNC,10+min Delay,Qualifying Delay,COD defined
19,20-Sep-21,03:30,N-B/S-B,Balboa Park,Platform Hold (No Station Agent/BPD Opened),oz,0.0,2.0,10.0,12.0,0.0,0.0,0.0,2.0,2,YES,YES,Misc
20,20-Sep-21,13:46,Daly City,Berryessa,T.O. Procedure (Late Boarding),ot,5.0,0.0,0.0,0.0,0.0,0.0,103.0,1.0,1,NO,NO,TO Procedure
21,20-Sep-21,04:34,Daly City,Berryessa,Wayside Inspection,mz,0.0,1.0,5.0,0.0,0.0,0.0,105.0,1.0,1,NO,NO,N/A
22,20-Sep-21,14:55,N-B/S-B,MacArthur,BPD Hold (Fight on Platform),mp,0.0,2.0,5.0,15.0,0.0,0.0,0.0,2.0,2,YES,YES,N/A
23,20-Sep-21,22:15,Berryessa,Richmond,BPD Hold (Welfare Check),mp,18.0,0.0,0.0,0.0,0.0,0.0,207.0,1.0,1,YES,YES,N/A

### Export data to PG database

In [31]:
# Upload station data to OperationsDB

pg_engine = create_engine(f'postgresql+psycopg2://postgres:{password}@localhost/transportationDB')
session = Session(pg_engine)

exportData_df.to_sql(name='opsdelays', con=pg_engine, if_exists='append')
# engine.execute("SELECT * FROM opsdelays").first()
session.close()

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "DATE" of relation "opsdelays" does not exist
LINE 1: INSERT INTO opsdelays (index, "DATE", "TIME", "DEST", "LOCAT...
                                      ^

[SQL: INSERT INTO opsdelays (index, "DATE", "TIME", "DEST", "LOCATION", "CAUSE", "COD", "DEL", "SEC", "LR", "HR", "OFF", "CNC", "RUN", "Late Trains", "Late Trains +OFF+CNC", "10+min Delay", "Qualifying Delay", "COD defined") VALUES (%(index)s, %(DATE)s, %(TIME)s, %(DEST)s, %(LOCATION)s, %(CAUSE)s, %(COD)s, %(DEL)s, %(SEC)s, %(LR)s, %(HR)s, %(OFF)s, %(CNC)s, %(RUN)s, %(Late Trains)s, %(Late Trains +OFF+CNC)s, %(10+min Delay)s, %(Qualifying Delay)s, %(COD defined)s)]
[parameters: ({'index': 0, 'DATE': '2-Jul-21', 'TIME': '5:42', 'DEST': 'Berryessa', 'LOCATION': 'Richmond', 'CAUSE': 'T.O. Procedure (Late Boarding)', 'COD': 'ot', 'DEL': 8.0, 'SEC': 0.0, 'LR': 0.0, 'HR': 0.0, 'OFF': 0.0, 'CNC': 0.0, 'RUN': 213.0, 'Late Trains': 1.0, 'Late Trains +OFF+CNC': 1, '10+min Delay': 'NO', 'Qualifying Delay': 'NO', 'COD defined': 'TO Procedure'}, {'index': 1, 'DATE': '4-Jul-21', 'TIME': '7:22', 'DEST': 'Berryessa', 'LOCATION': 'Richmond', 'CAUSE': 'Station Not Open (T.O. Opened Station)', 'COD': 'os', 'DEL': 0.0, 'SEC': 1.0, 'LR': 10.0, 'HR': 0.0, 'OFF': 0.0, 'CNC': 0.0, 'RUN': 291.0, 'Late Trains': 1.0, 'Late Trains +OFF+CNC': 1, '10+min Delay': 'YES', 'Qualifying Delay': 'YES', 'COD defined': 'Station Opened Late'}, {'index': 2, 'DATE': '4-Jul-21', 'TIME': '17:03', 'DEST': 'Millbrae', 'LOCATION': 'C88', 'CAUSE': 'T.O. Procedure (Dispatch Schedule Timing Proc.)', 'COD': 'ot', 'DEL': 9.0, 'SEC': 0.0, 'LR': 0.0, 'HR': 0.0, 'OFF': 0.0, 'CNC': 0.0, 'RUN': 393.0, 'Late Trains': 1.0, 'Late Trains +OFF+CNC': 1, '10+min Delay': 'NO', 'Qualifying Delay': 'NO', 'COD defined': 'TO Procedure'}, {'index': 3, 'DATE': '4-Jul-21', 'TIME': '20:39', 'DEST': 'Berryessa', 'LOCATION': 'Richmond', 'CAUSE': 'Tower Procedure', 'COD': 'oy', 'DEL': 0.0, 'SEC': 1.0, 'LR': 7.0, 'HR': 0.0, 'OFF': 0.0, 'CNC': 0.0, 'RUN': 285.0, 'Late Trains': 1.0, 'Late Trains +OFF+CNC': 1, '10+min Delay': 'NO', 'Qualifying Delay': 'NO', 'COD defined': 'Yard'}, {'index': 4, 'DATE': '5-Jul-21', 'TIME': '6:54', 'DEST': 'Daly City', 'LOCATION': 'S. Hayward', 'CAUSE': 'Staffing Shortage', 'COD': 'oz', 'DEL': 7.0, 'SEC': 0.0, 'LR': 0.0, 'HR': 0.0, 'OFF': 0.0, 'CNC': 0.0, 'RUN': 125.0, 'Late Trains': 1.0, 'Late Trains +OFF+CNC': 1, '10+min Delay': 'NO', 'Qualifying Delay': 'NO', 'COD defined': 'Misc'}, {'index': 5, 'DATE': '5-Jul-21', 'TIME': '11:30', 'DEST': 'Dublin', 'LOCATION': 'Daly City', 'CAUSE': 'T.O. Procedure (Late Dispatch)', 'COD': 'ot', 'DEL': 8.0, 'SEC': 0.0, 'LR': 0.0, 'HR': 0.0, 'OFF': 0.0, 'CNC': 0.0, 'RUN': 509.0, 'Late Trains': 1.0, 'Late Trains +OFF+CNC': 1, '10+min Delay': 'NO', 'Qualifying Delay': 'NO', 'COD defined': 'TO Procedure'}, {'index': 6, 'DATE': '8-Jul-21', 'TIME': '6:37', 'DEST': 'Millbrae', 'LOCATION': 'MacArthur', 'CAUSE': 'T.O. Procedure (Late Dispatch)', 'COD': 'ot', 'DEL': 5.0, 'SEC': 0.0, 'LR': 0.0, 'HR': 0.0, 'OFF': 0.0, 'CNC': 0.0, 'RUN': 407.0, 'Late Trains': 1.0, 'Late Trains +OFF+CNC': 1, '10+min Delay': 'NO', 'Qualifying Delay': 'NO', 'COD defined': 'TO Procedure'}, {'index': 7, 'DATE': '9-Jul-21', 'TIME': '5:03', 'DEST': 'Berryessa', 'LOCATION': 'Richmond', 'CAUSE': 'T.O. Procedure', 'COD': 'ot', 'DEL': 7.0, 'SEC': 1.0, 'LR': 7.0, 'HR': 0.0, 'OFF': 0.0, 'CNC': 0.0, 'RUN': 211.0, 'Late Trains': 2.0, 'Late Trains +OFF+CNC': 2, '10+min Delay': 'NO', 'Qualifying Delay': 'NO', 'COD defined': 'TO Procedure'}  ... displaying 10 of 24 total bound parameter sets ...  {'index': 22, 'DATE': '20-Sep-21', 'TIME': '14:55', 'DEST': 'N-B/S-B', 'LOCATION': 'MacArthur', 'CAUSE': 'BPD Hold (Fight on Platform)', 'COD': 'mp', 'DEL': 0.0, 'SEC': 2.0, 'LR': 5.0, 'HR': 15.0, 'OFF': 0.0, 'CNC': 0.0, 'RUN': 0.0, 'Late Trains': 2.0, 'Late Trains +OFF+CNC': 2, '10+min Delay': 'YES', 'Qualifying Delay': 'YES', 'COD defined': 'N/A'}, {'index': 23, 'DATE': '20-Sep-21', 'TIME': '22:15', 'DEST': 'Berryessa', 'LOCATION': 'Richmond', 'CAUSE': 'BPD Hold (Welfare Check)', 'COD': 'mp', 'DEL': 18.0, 'SEC': 0.0, 'LR': 0.0, 'HR': 0.0, 'OFF': 0.0, 'CNC': 0.0, 'RUN': 207.0, 'Late Trains': 1.0, 'Late Trains +OFF+CNC': 1, '10+min Delay': 'YES', 'Qualifying Delay': 'YES', 'COD defined': 'N/A'})]
(Background on this error at: http://sqlalche.me/e/14/f405)

## Import BART station data from API

In [11]:
# Connect to Bart API and pull station information
base_url="http://api.bart.gov/api/stn.aspx?cmd=stns&key=MW9S-E7SL-26DU-VV8V&json=y"
response = requests.get(base_url)
results = response.json()
stationData = results['root']['stations']['station']

In [13]:
# Convert station info to dataframe 
stationData_df = pd.DataFrame(stationData)
renamedData = stationData_df.rename(columns={"gtfs_latitude":"lat",
                               "gtfs_longitude":"long",
                               })
short_stationData_df = renamedData[['name','abbr','lat','long','city','county']]
short_stationData_df.head()

,name,abbr,lat,long,city,county
0,12th St. Oakland City Center,12TH,37.803768,-122.271450,Oakland,alameda
1,16th St. Mission,16TH,37.765062,-122.419694,San Francisco,sanfrancisco
2,19th St. Oakland,19TH,37.808350,-122.268602,Oakland,alameda
3,24th St. Mission,24TH,37.752470,-122.418143,San Francisco,sanfrancisco
4,Antioch,ANTC,37.995388,-121.780420,Antioch,Contra Costa

In [14]:
# Upload station data to OperationsDB
engine = create_engine(f'postgresql+psycopg2://postgres:{password}@localhost/transportationDB')
short_stationData_df.to_sql(name='stations', con=engine, if_exists='append', index_label='station_no')
# engine.execute("SELECT * FROM stations").first()